.gradle/
.idea/

/.classpath
/.metadata
/.plugins
/.project
/.settings
lib/**

*.iml
*.ipr
*.iws
#*.vcxproj.user

/installer/
/temp/
/tmp/
/build/*

/buildSrc/**/build/
/buildSrc/**/out/

/distribution/build/
/java/**/build/
/java/**/out/

/java/installer/izpack/generated/

/python/**/*.so
/python/**/*.pyd
/python/dxapi/

/web/

bin/*.exe
bin/*.dll
