<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.epam.deltix.qsrv.util.servlet.AccessFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>shutdown</servlet-name>
        <servlet-class>com.epam.deltix.qsrv.util.servlet.ShutdownServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>logzip</servlet-name>
        <servlet-class>com.epam.deltix.qsrv.servlet.LogServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>dumpzip</servlet-name>
        <servlet-class>com.epam.deltix.qsrv.servlet.HeapDumpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.epam.deltix.qsrv.servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>shutdown</servlet-name>
        <url-pattern>/shutdown...</url-pattern>
        <url-pattern>/shutdown</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logzip</servlet-name>
        <url-pattern>/getlogs</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>dumpzip</servlet-name>
        <url-pattern>/heapdump</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/gethome</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <!-- WELCOME PAGE -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/fn.tld</taglib-location>
        </taglib>
    </jsp-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Home</web-resource-name>
            <url-pattern>/gethome</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <deny-uncovered-http-methods/>

</web-app>
